@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(238, 237, 237);
}
.herosection{
	background-color: #1976d2;
	padding-top: 6rem;
}

.bg-primary {
    background-color: #e3f2fd!important;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #000000;
    font-size: 1.25rem;
}
.navbar-dark .navbar-brand {
    color: #000;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 24px;
    line-height: inherit;
    white-space: nowrap;
    font-weight: 900;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #1b1818b8;
}
.hero{
	height: 80vh;
    max-width: 100%;
    background-color: #e3edf7;
    border-radius: 2rem;
	position: relative;
    display: table;
	margin-top: 30px;

}
.myName{
	margin-top: 46px;
	font-size: 3rem;
    padding: 20px;
}
.freeLancer {
    padding: 20px;
    font-size: 23px;
    margin-top: -20px;
}
.detail{
	color: rgb(5, 199, 5);
}
.someText{
	padding-left: 20px;
	margin-top: -10px;
	color: rgb(110, 107, 107);
}
.cv_btn{
	background-color: rgb(6, 204, 6);
	padding: 10px 20px 10px 20px;
	margin: 20px 0 0 20px;
	border-radius: 1px solid;
	
}
.cv_btn:hover{
	background-color: rgba(6, 204, 6, 0.609);
	
}
/* social media link */
.Social-media{
	display: flex;
	justify-content: center;
	margin-left: -140px;
}
.Social-media a{
	display: flex;
	background: #e3edf7;
	height: 45px;
	width: 45px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0, 0, 0, 0);
	transition: transform 0.5s
}
.Social-media a i{
	font-size: 18px;
	color:rgb(44, 9, 199);
	transition: transform 0.5s;
}
.Social-media a:hover{
	box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),
				inset -4px -4px 6px -1px rgba(255,255,255,0.7),
					  -0.5px -0.5px 0px -1px rgba(255,255,255,1),
					  0.5px 0.5px 0px rgba(0,0,0,0.15),
					  0px 12px 10px -10px rgba(0,0,0,0.05);
	border: 1px solid rgba(255, 0, 0, 0.1);
	transform: translateY(2px);
}
.Social-media a:hover i{
	transform: scale(0.90);
}
.Social-media a:hover .fa-facebook{
	color: #3b5998;
}
.Social-media a:hover .fa-twitter{
	color: #00acee;
}
.Social-media a:hover .fa-whatsapp{
	color: #4fce5d;
}
.Social-media a:hover .fa-instagram{
	color: #f14843;
}
.Social-media a:hover .fa-youtube{
	color: #f00;
} 
.context{
	float: left;
}
.picture{
	
	float: right;
}
.myProfimg{
	height: 579px;
    padding-bottom: 20px;
    padding-left: 91px;
}
/* about us */
.about{
	height:100vh;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	background-color: #42a5f5;
	position: relative;
    display: table;
	
}
.aboutMeimg{
	height: 269px;
    margin-top: 53px;
    
	border-radius: 50%;
	background-color: #bbdefb;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	background-color: #bbdefb;
}
.picture_side{
	float: left;
	margin-left: 32px;
	
}
.text_side{
	float: right;
	background-color: #e3f2fd;
	border-radius: 20px;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0, 0, 0, 0);
}
.text_side h1{
	font-size: 4rem;
	margin-top: 35px;
	margin-left: 20px;
}
.text_side p{
	margin-left: 20px;
}
/* progress bar */

.progressBar {
	margin-bottom: 26px;
	margin-bottom: 1.66em;
	position: relative;
	margin-left: 20px;
	
  }
  .progressBar h4 {
	font-size: 16px;
	text-transform: none;
	margin-bottom: 7px;
	margin-bottom: 0.33em;
	color: #2e1437;
  }
  .progressBarcontainer {
	width: 80%;
	height: 10px;
	background: #e1e1e1 !important;
	overflow: hidden;
	border-radius: 0.3em;
  }
  .progressBarValue {
	height: 10px;
	float: left;
	border-radius: 0.3em;
	background: #2C73D2; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #2C73D2 0%, #009EFA 100%);
	background: -webkit-linear-gradient(-45deg, #2C73D2 0%, #009EFA 100%);
	background: linear-gradient(135deg, #009EFA 0%, #2C73D2 100%);
  }

  .speech-bubble {
	font-size: 0.75em;
	line-height: 2em;
	position: absolute;
	top: -0.6em;
	text-align: center;
	min-width: 3em;
	border-radius: 0.3em;
	color: white;
	display: none;
  }

  .speech-bubble:after {
	border: 0.5em solid transparent;
	content: "";
	margin-left: -0.5em;
	position: absolute;
	bottom: -50%;
	left: 50%;
  }

  .html {
	left: calc(88.5% - 1.5em);
  }

  .css {
	left: calc(78.5% - 1.5em);
  }

  .javascript {
	left: calc(58.5% - 1.5em);
  }

  .react {
	left: calc(48.5% - 1.5em);
  }

  .jquery {
	left: calc(58.5% - 1.5em);
  }

  .html,
  .css,
  .javascript,
  .react,
  .jquery {
	background: #2C73D2;
  }

  .html:after {
	border-top-color: #2C73D2;
  }

  .css:after {
	border-top-color: #2C73D2;
  }

  .javascript:after {
	border-top-color: #2C73D2;
  }

  .react:after {
	border-top-color: #2C73D2;
  }

  .jquery:after {
	border-top-color: #2C73D2;
  }
  /* service section */
  .serviceSection{
	 
	  background-color: #64b5f6;
	
	  
  }
  .sercontainer {
	max-width: 1320px;
  }
  section {
	overflow: hidden;
  }
  
  .section-bg {
	background: #64b5f6;
  }
  
  .section-header h3 {
	font-size: 63px;
	color: #413e66;
	text-align: center;
	font-weight: 800;
	position: relative;
	font-family: "Montserrat", sans-serif;
  }
  
  .section-header p {
	text-align: center;
	margin: auto;
	font-size: 15px;
	padding-bottom: 30px;
	color: #535074;
	width: 50%;
  }
  
  
 
section {
    overflow: inherit;
}
  
  #services .box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	text-align: center;
  }
  
  #services .box:hover {
	transform: scale(1.1);
  }
  
  #services .icon {
	margin: 0 auto 15px auto;
	padding-top: 12px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
  }
  
  #services .icon .service-icon {
	font-size: 36px;
	line-height: 1;
  }
  
  #services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
  }
  
  #services .title a {
	color: #111;
  }
  
  #services .box:hover .title a {
	color: #c59c35;
  }
  #services .box:hover .title a:hover {
	text-decoration: none;
  }
  #services .description {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
	text-align: left;
  }
  /* Porfolio */
  .protfoliosection{
	background-color: #e3f2fd;
	overflow: hidden;
}
.section_title {
    text-align: center;
    margin-top: 35px;
    font-size: 3rem;
    font-weight: 800;
	color: #413e66;;
}
.section_subtitle {
    text-align: center;
    font-size: 17px;
	color: #413e66;;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 250px;
	
	
}
.swiper-button-prev{
	margin-left: 30px;
}
.swiper-button-next{
	margin-right: 30px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 250px;
	
}
.sliderimg{
	width: 450px;
	height: 500px;
}
.swiper-container-3d .swiper-slide-shadow-left {
    background-image:  none;
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image:  none;
}
.html-btn{
	height: 30px;
	width: 70px;
	background: linear-gradient(90deg, #ef6c00, #ffa726);
	border-radius: 50px;
	padding-top: 2px;
}
.css-btn{
	height: 30px;
	width:  70px;
	background: linear-gradient(90deg, #1565c0, #42a5f5);
	padding-top: 2px;
	border-radius: 50px;
}
.js-btn{
	height: 30px;
	width:  70px;
	background: linear-gradient(90deg, #ff1744, #ff5252);
	padding-top: 2px;
	border-radius: 50px;
}
.card{
	border-radius: 20px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.596),
				-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0, 0, 0, 0);
}
/* contact us */
.contactusSection{
	background: #92bde7;
	
}
.contactusfrom{
	margin-top: 60px;
	margin-bottom: 68px;
	
}
.container{
	
	
	padding: 1em;
}

ul{
	list-style: none;
	padding: 0;
}

.brand{
	text-align: center;
}
.brand span{
	color: #fff;
}

.wrapper{
	box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
} 

.wrapper >*{
	padding: 1em;
}

.company-info{
	background: #c9e6ff;
	text-align: center;
}

.company-info h3, .company-info ul{
	text-align: center;
	margin: 0 0 1rem 0;
}

.contact{
	background: #f9feff;
}

/* FORM CONTACTS
 MOBILE SIZE FIRST */

.contact form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.contact form label{
	display: block;
}

.contact form p{
	margin:0; 
}

.contact form .full{
	grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea{
	width: 100%;
	padding: 1em;
	border: 1px solid #c9e6ff;
}

.contact form button{
	background: #c9e6ff;
	border: 0;
	text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
	background: #92bde7;
	color: #fff;
	outline:0;
	transition: background-color 0.5 s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
	.wrapper{
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	.wrapper>*{
		padding:2em;
	}

	.company-info h3, .company-info ul, .brand{
		text-align: left;
	}
} 

/* footer section */
.footerSection{
	
	background: #1a237e;
}
.social_links
{
    padding: 1rem;
    
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	
}
.social_links .combo
{
    transform: scale(0.9);
    transition: 0.4s ease-in;
    margin: 0 0.5rem;
    height: 3em;
    width: 3em;
    line-height: 3em;
}
.combo .circle
{
    color: #f9f9f9;
    transition: 0.4s ease-in;
    font-size: 3em;
}
.combo .icon
{
    color: #444343;
    font-size: 2rem;
    transform: translateY(1px);
    transition: 0.2s ease-in;
}
.combo:hover
{
    transform: scale(1.1);
}
.combo:hover , .combo:hover .icon
{
    color:white;
}
.ig:hover , .ig:hover .circle
{
    color:#e91e63;
}
.fb:hover , .fb:hover .circle
{
    color:#2196f3;
}
.yt:hover , .yt:hover .circle
{
    color:#f44336;
}
.tw:hover , .tw:hover .circle
{
    color:#2196f3;
}
.gt:hover , .gt:hover .circle{
    color: #1f1f1f;
}
.name,
.add,
.email{
	color: white;
}
.name{
	font-size: 45px;
	padding-top: 30px;
}